# OpenRouter API Key - for LLM generation
OPENROUTER_API_KEY=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

# Datalab API Key - for PDF/Document conversion
DATALAB_API_KEY=WmFbeYfN6tUoCNfHoGi4Xy66W5WqOud3Kr1FXmHYmW0

# Kie.ai API Key - for WAN and AI video generation
KIE_API_KEY=25fd9578643fa7ff810651f3380da2a2
